body {
  font-family:"微软雅黑","Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
}
.left{
    float:left;
}
.right{
    float:right;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.m-b-5 {
	margin-bottom: 5px;
}

button{
	-webkit-app-region: no-drag;
}

.buff{
  display: inline-block;
  width: 23px;
  margin: 2px;
  height: 37px;
  overflow: hidden;
}

.buff-time{
  position: relative;
  top:-10px;
}

.buff-level{
  position: relative;
  top: -50px;
  left: 14px;
  color: yellow;
  /* font-size: 14px; */
  text-shadow: 1px 1px 1px black;
}

.skill{
  display: inline-block;
  width: 48px;
  margin: 2px 2px 18px 2px;
  height: 48px;
  /*overflow: hidden;*/
  font-size: 18px;
  text-align: center;
}

.skill-cd{
  position: relative;
  top:-64px;
  width: 48px;
  height: 48px;
  line-height:48px;  
  color: yellow;
  background-color: rgba(0,0,0,0.6);
}

.skill-nocd{
  position: relative;
  top:-64px;
  width: 48px;
  height: 48px;
  line-height:48px;  
}

.skill-hotkey{
  position: relative;
  top: -70px;
  color: black;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}