<!DOCTYPE html>
<html lang="zh-cn" ng-app="J3DPS">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="剑网3,配装器,dps计算器">
	<meta name="author" content="胖叔叔">
	<title>剑网3 DPS 模拟器</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">
	<link href="css/flat/_all.css" rel="stylesheet">
	<link href="css/angular-toastr.min.css" rel="stylesheet">
</head>
<body style="padding-top: 70px;" ng-controller="AppCtrl">
<div class="navbar navbar-inverse navbar-fixed-top" style="-webkit-app-region: drag;-webkit-user-select: none;">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html">剑网3 DPS 模拟器</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" ng-click="minimizeApp()" style="-webkit-app-region: no-drag;">_</a></li>
				<li><a href="#" ng-click="closeApp()" style="-webkit-app-region: no-drag;">X</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container" ng-controller="MainCtrl">
	<div class="row">
		<div class="col-md-3">
			<input type="text" ng-model="myself.attributes.basicAttack">基础攻击<br>
			<input type="text" ng-model="myself.attributes.spunk">元气<br>
			<input type="text" ng-model="myself.attributes.crit">%会心<br>
			<input type="text" ng-model="myself.attributes.critEff">%会效<br>
			<input type="text" ng-model="myself.attributes.hit">%命中<br>
			<input type="text" ng-model="myself.attributes.haste">加速等级<br>
			<input type="text" ng-model="myself.attributes.strain">%无双<br>
			<input type="text" ng-model="myself.attributes.overcome">破防等级<br>
			<input type="text" ng-model="myself.attributes.delay">延迟<br>
			<input type="text" ng-model="$root.maxTime">循环时间(s)<br>
			<input type="text" ng-model="$root.maxLoop">循环次数(未实装)<br>
		</div>
		<div class="col-md-5">
			<div class="row" style="margin-bottom:16px;">
				目标状态：{{$root.target.name}}({{$root.target.curLife}}/{{$root.target.life}})<br>
				战斗时间: {{($root.time/16).toFixed(2)}}s<br>
				DPS: {{$root.dps.toFixed(0)}}
			</div>
			<div class="row" style="margin-bottom:16px;" ng-controller="BuffCtrl">
				目标Buff：
				<span ng-repeat="buff in buffController.targetBuffs">
					<b>{{buff.name}}</b>
					<i ng-if="buff.maxLevel>1">x{{buff.level}}</i>
					({{(buff.remain/16).toFixed(0)}})
				</span>
			</div>
			<div class="row" style="margin-bottom:16px;">
				自身Buff：
				<span ng-repeat="buff in buffController.selfBuffs">
					<b>{{buff.name}}</b>
					<i ng-if="buff.maxLevel>1">x{{buff.level}}</i>
					({{(buff.remain/16).toFixed(0)}})
				</span>
			</div>
			<div class="row" style="margin-bottom:16px;">
				读条状态：
				<span ng-if="myself.states.ota&&skillController.curSkill.type=='ota'">【{{skillController.curSkill.name}}】{{((myself.states.curOta - myself.states.otaRemain)/16).toFixed(2)}}s/{{(myself.states.curOta/16).toFixed(2)}}s</span>
				<span ng-if="myself.states.ota&&skillController.curSkill.type=='channel'">【{{skillController.curSkill.name}}】{{(myself.states.otaRemain/16).toFixed(2)}}s/{{(myself.states.curOta/16).toFixed(2)}}s</span>
			</div>
			<div class="row" style="margin-bottom:16px;">
				<button class="btn" ng-click="start()">开始循环</button>
				<button class="btn" ng-click="stop()">结束循环</button>
				<button class="btn" ng-click="clear()">清空log</button>
				<button class="btn" ng-click="aveStart()">10次循环</button>
			</div>
			<div class="row" style="margin-bottom:16px;">
				<button class="btn" ng-click="qixueSettings()">奇穴设置</button>
				<button class="btn" ng-click="recipeSettings()">秘籍设置</button>
				<button class="btn" ng-click="effectSettings()">特效设置</button>
				<button class="btn" ng-click="targetSettings()">目标设置</button>
				<button class="btn" ng-click="macroSettings()">宏设置</button>
			</div>
			<div class="row" style="margin-bottom:16px;" ng-controller="SkillCtrl">
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('兰摧玉折')" ng-disabled="myself.states.gcd>0||skillController.list[5].cdRemain>0">兰摧玉折({{(skillController.list[5].cdRemain/16).toFixed(0)}})</button>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('商阳指')" ng-disabled="myself.states.gcd>0">商阳指</button>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('钟林毓秀')" ng-disabled="myself.states.gcd>0">钟林毓秀</button>
				<br>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('阳明指')" ng-disabled="myself.states.gcd>0">阳明指</button>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('玉石俱焚')" ng-disabled="myself.states.gcd>0||skillController.list[2].cdRemain>0">玉石俱焚({{(skillController.list[2].cdRemain/16).toFixed(0)}})</button>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('水月无间')" ng-disabled="myself.states.gcd>0||skillController.list[7].cdRemain>0">水月无间({{(skillController.list[7].cdRemain/16).toFixed(0)}})</button>
				<br>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('乱洒青荷')" ng-disabled="myself.states.gcd>0||skillController.list[8].cdRemain>0">乱洒青荷({{(skillController.list[8].cdRemain/16).toFixed(0)}})</button>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('快雪时晴')" ng-disabled="myself.states.gcd>0">快雪时晴</button>
				<button class="btn btn-primary col-md-3 m-a-1" ng-click="cast('芙蓉并蒂')" ng-disabled="myself.states.gcd>0||skillController.list[6].cdRemain>0">芙蓉并蒂({{(skillController.list[6].cdRemain/16).toFixed(0)}})</button>
				<br>
			</div>
			<div class="row">
				<label>自动模式</label>
				<input icheck type="checkbox" ng-model="$root.macroMode">
				<label>调试开关</label>
				<input icheck type="checkbox" ng-model="$root.debug">
				<label>木桩掉血开关</label>
				<input icheck type="checkbox" ng-model="$root.kill">
			</div>
		</div>
		<div class="col-md-4">
			<div ng-controller="StatsCtrl">
				<table class="table table-hover">
					<thead>
						<tr><th>技能</th><th>计数</th><th>伤害</th><th>占比</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="skill in dpsLog.skillDetails" ng-click="tabSwitch(skill.name)" ng-class="skill.name==skillHighlight?'info':''">
							<td>{{skill.name}}</td>
							<td>{{skill.count}}</td>
							<td>{{skill.damage}}</td>
							<td>{{(skill.damage/$root.globalDamage*100).toFixed(1)}}%</td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr><th>类别</th><th>计数</th><th>最大/最小伤害</th><th>平均伤害</th><th>占比</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="type in typeList" ng-if="$root.curSkillStats[type].count>0">
							<td>{{typeDesc[type]}}</td>
							<td>{{$root.curSkillStats[type].count}}</td>
							<td>{{$root.curSkillStats[type].max}}/{{$root.curSkillStats[type].min}}</td>
							<td>{{($root.curSkillStats[type].damage/($root.curSkillStats[type].count)).toFixed(0)}}</span></td>
							<td>{{($root.curSkillStats[type].count/$root.curSkillStats.count*100).toFixed(1)}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="log" style="max-height:350px;overflow-y:scroll;" ng-show="$root.debug"></div>
		</div>
		
	</div>
</div>
<footer style="margin-top:20px;">
	<div id="footer" class="footer container">
		胖叔叔版 剑网3 DPS 循环模拟器 v0.0.1 测试版
	</div>
</footer>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-aria.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.13.2.min.js"></script>
<script src="js/angular-toastr.tpls.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/icheck.min.js"></script>
<script src="dpsSim/dps.js"></script>
<script src="dpsSim/skill.js"></script>
<script src="dpsSim/buff.js"></script>
<script src="dpsSim/utils.js"></script>
<script src="dpsSim/buffs.js"></script>
<script src="dpsSim/skills.js"></script>
<script src="dpsSim/recipes.js"></script>
<script src="dpsSim/options.js"></script>
<script src="dpsSim/mainCtrl.js"></script>
<script src="dpsSim/settingsCtrl.js"></script>
</body>
</html>