<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
		<h4 class="modal-title">宏设置</h4>
	</div>
	<div class="modal-body">
		<div class="row" style="margin:16px;">
			<textarea class="form-control" rows="20" ng-model="$root.macroText"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">关闭</button>
	</div>
</div>