<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
		<h4 class="modal-title">奇穴设置</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-1" ng-repeat="option in options" style="padding-left: 8px;padding-right: 8px;">
				<div class="qixue" dropdown>
					<button id="add-buff" type="button" class="btn btn-default" dropdown-toggle ng-style="{background:'url(http://icons.j3pz.com/'+option.icon+'.png) 0 0 no-repeat'}" style="width:60px;height:48px;padding:3px" tooltip="{{option.name+'：'+option.desc}}" tooltip-append-to-body="true">
						<span class="caret right"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="qixue">
						<li role="menuitem" ng-repeat="opts in $root.skillOption[option.id]" ng-click="toggleOption(opts.name,option.id)" tooltip="{{opts.desc}}" tooltip-append-to-body="true" tooltip-placement="left"><a href style="display:inline"><img ng-src="{{'http://icons.j3pz.com/'+opts.icon+'.png'}}" style="width:24px;height:24px"></img><span>{{opts.name}}</span></a></li>
					</ul>
				</div>
				<span>{{option.name}}</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">关闭</button>
	</div>
</div>