<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
		<h4 class="modal-title">目标设置</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-4">
				<label ng-click="setTarget(0)">
					<input icheck type="radio" ng-model="targetSelectId" value="0"> 初级试炼木桩(96)
				</label><br>
				<label ng-click="setTarget(1)">
					<input icheck type="radio" ng-model="targetSelectId" value="1"> 中级试炼木桩(97)
				</label><br>
				<label ng-click="setTarget(2)">
					<input icheck type="radio" ng-model="targetSelectId" value="2"> 高级试炼木桩(98)
				</label><br>
				<label ng-click="setTarget(3)">
					<input icheck type="radio" ng-model="targetSelectId" value="3"> 极境试炼木桩(99)
				</label><br>
			</div>
			<div class="col-sm-4">
				<table class="table">
					<tbody>
						<tr><td>命中要求</td><td>{{$root.target.hitRequire}}%</td></tr>
						<tr><td>无双要求</td><td>{{$root.target.strainRequire}}%</td></tr>
						<tr><td>防御</td><td>{{$root.target.shield}}%</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">关闭</button>
	</div>
</div>